@import url('./global.css');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 0 100px;
}
header h1 {
    font-size: 24px;
    color: var(--color-light-text-color);
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 92px;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 21px;
}
.buttons-header {
    display: flex;
    align-items: center;
    width: 283px;
    gap: 20px;
}
.btn-became-member {
    width: 220px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--color-primary-color);
    color: var(--color-light-text-color);
    gap:30px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
}
main .main-img {
    width: 354.84;
    border: 1px solid red;
}
.main-content {
    width: 509px;
    border: 1px solid green;
}
.main-content h2 {
    color: var(--color-light-text-color);
    font-size: 58px;
    font-weight: 800;
    width: 529px;
}
.main-content p {
    color: var(--color-light-text-color);
    font-size: var(--font-size-20);
    width: 336px;
    margin-top: 24.35px;
    border: 1px solid green;
}
.btn-main {
    display: flex;
    margin-top: 35px;
    gap: 10px;
}
.btn-main button {
    color: var(--color-light-text-color);
    padding: 15px 36px;
    border-radius: 37px;
    cursor: pointer;
}
.btn-main-blue {
    background-color: var(--color-primary-color);
}
.btn-main-black {
    border: 1px solid var(--color-light-text-color);
    background-color: transparent;
}

/* Session */
.better-strategy-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    padding-top: 98.1px;
    margin-top: 51px;
}
.better-strategy-content h2 {
    width: 451px;
    color: var(--color-light-text-color);
    font-size: 40px;
    font-weight: bold;
    border: 1px solid blue;
}
.better-strategy-content p {
    font-size: var(--font-size-14);
    color: var(--color-second-text-color);
    text-align: center;
    width: 470px;
    margin-top: 10px;
}

.teste{
    display: flex;
    justify-content: center;
}

.better-strategy-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); /*3 colunas de tamanho igual*/
    
}
.better-strategy-card {
    border: 1px solid var(--color-light-text-color);
    width: 328px;
    /* background-color: lightgray; */
    padding: 35px;
}
.card-content {
    /* padding: 24.35px 18.79px 24.35px 13.92px; */
    /* border: 1px solid red; */
}
.card {
    display: flex;
    align-items: center;
    color: var(--color-light-text-color);
    /* border: 1px solid black; */
}
.card-img {
    width: 33.4;
    margin-left: 10px;
    margin-right: 15px;
    /* border: 1px solid blue; */
}
.card h3 {
    font-size: 16px;
    font-weight: bold;
    width: 213px;
}
.card p {
    font-size: 14px;
    margin-top: 5px;
}
